<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/education-6-7/66/280-512.png"/>
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
    <title>Commath</title>

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
<body>
     <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style='position:relative;'>
      <div class="container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
              
                <div class="dropdown-divider"></div>
              
              </div>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="https://blog.bootswatch.com">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Lux <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" target="_blank" href="https://jsfiddle.net/bootswatch/8zet8yhz/">Open in JSFiddle</a>
           
            </li>
          </ul>

        </div>
      </div>

    </div>
    <br>
  <div class='container'>
    <div class="row">
     <div class="col-lg-6">
           
      <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
        <div class="card-header">Differentiation</div>
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <fieldset class="form-group">
              Radio buttons
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  Option one is this and that—be sure to include why it's great
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                  Option two can be something else and selecting it will deselect option one
                </label>
              </div>
              
            </fieldset>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card text-white bg-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Integration</div>
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

     </div>


      <div class="col-lg-6">

      <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
        <div class="card-header">Root-finding</div>
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-warning">Warning</button>
        </div>
      </div>

    </div>
</div>
</div>


<script src="{% static '/jquery.min.js'%}"></script>
    <script src="{% static '/popper.min.js'%}"></script>
     <script src="{% static '/bootstrap.min.js'%}"></script>
    <script src="{% static '/custom.js'%}"></script>
</body>
</html>